
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

body {
    background-color: cadetblue;
}

h1.main-title {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

section.todolist, section.add-new-task {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

section.add-new-task {
    border: 2px black solid;
}

div.task {
    display: flex;
    flex-basis: 100%;
}

div.task p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding: 10px;
    text-align: center;
}

p.description {
    flex-basis: 60%;
    background-color: royalblue;
}

p.change, p.delete, p.edit {
    flex-basis: 13.33%;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}

p.change {
    background-color: #e77272;
}

p.change.done {
    background-color: lightgreen;
}

p.edit {
    background-color: forestgreen;
}

p.change:hover, p.delete:hover, p.edit:hover {
    opacity: 80%;
}

p.delete {
    background-color: #ee3939;
    transition: 0.2s;
}

p.delete:hover {
    background-color: red;
}

section.add-new-task textarea, section.todolist textarea {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

section.add-new-task textarea {
    flex-basis: 70%;
}

section.todolist textarea {
    flex-basis: 60%;
}

button.add-new-task-button {
    width: 30%;
    padding: 10px;
    background-color: mediumvioletred;
    border: 1px black solid;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

button.add-new-task-button:hover {
    background-color: #570a3d;
    color: white;
}

/*error-view*/
div.obscure {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    /*opacity: 80%;*/
}

div.error {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: darkred;
    text-align: center;
}

dv.error p {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

div.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: grey;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
